* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}

/* header */
.contaner {
  margin: auto;
  width: 360px;
  height: 740px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header {
  padding-top: 10px;
}
h1 {
  display: inline;
  padding: 0 45px;
  font-size: 25px;
}
#hr {
  margin-bottom: 55px;
}

/* main */
/* #cardVisa {
  display: inline;
} */
#cardVisa .shadow {
  /* display: block; */
  margin: auto;
}
/* #cardVisa img {
  display: block;
  margin: auto;
  margin-top: -175px;
} */
#cardVisa img {
  display: block;
  margin: auto;
  margin-top: -175px;
}
#cardVisa p {
  margin-top: 10px;
  padding: 16px 0 16px 20%;
  font-weight: 600;
  font-size: 0.9em;
}
label {
  display: block;
  font-family: "Poppins";
  /* font-weight: 100; */
  color: gray;
  margin-top: 26px;
}
#inputname {
  margin-top: 16px;
  height: 55px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 20px;
  font-size: 1.1em;
}
#button {
  float: right;
  margin-top: 20px;
  width: 150px;
}
#buttonNext {
  padding: 20px 35px;
  background-color: #7d73c3;
  color: white;
  border-radius: 30px;
  border: 0;
  height: 60px;
  width: 150px;
  font-size: 1em;
}
#spanBTN {
  margin: 565px;
  padding: 565px;
  width: 150px;
  height: 150px;
}

/* bonus */
#thanksCard {
  border-radius: 20px;
}
#thanks {
    margin-left: 7%;
}
